.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 8vh;
  padding-top: 1rem;
  position: relative;

  @media screen and (min-width: 1280px) {
  }

  &__logo {
    height: 18px;

    @media screen and (min-width: 768px) {
      height: auto;
    }
  }

  &__navlinks__container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 2rem;

    @media screen and (min-width: 768px) {
      position: static;
      margin-top: 0;
      width: 70%;
      height: 100%;
    }
  }

  &__navlinks {
    outline: 2px solid;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    transition: opacity 0.2s ease-in-out;

    @media screen and (min-width: 768px) {
      outline: none;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
    @media screen and (min-width: 1280px) {
      width: 60%;
    }
  }

  &__navlinks__hidden {
    opacity: 0;
    pointer-events: none;

    @media screen and (min-width: 768px) {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__navlink {
    list-style: none;
    padding: 1rem 0;
    color: var(--dark-blue);
    font-weight: 700;

    @media screen and (min-width: 768px) {
      cursor: pointer;
    }
  }

  &__icon {
    cursor: pointer;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__btn {
    display: none;

    @media screen and (min-width: 1280px) {
      display: block;
      font-family: inherit;
      font-weight: 500;
      padding: 0.8rem 1.5rem;
      border: none;
      box-shadow: 0 5px 10px var(--bright-red);
      border-radius: 20px;
      background-color: var(--bright-red);
      color: var(--very-light-gray);
    }
  }
}
